[build]
  command = "npm run build"
  publish = "build"
  base = "/"

[context.production.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"

[context.deploy-preview]
  command = "npm run build"

[context.branch-deploy]
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.processing]
  skip_processing = true